@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montsserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.cabecalho_menu_link{
    padding: 10px 15px;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: #333000;
    margin: 0 10px;
    text-decoration: nome; 
}

.cabecalho_menu_link:hover{
    color: var(--cor-terciaria);
}

.apresentacao{
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacas_links_subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_links_navegacao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao_links_link:hover {
    background-color: var(--cor-hover);
    font-size: 1.5rem;
}

.imagem{
    width: 5%;
    height: auto;
}

.apresentacao_imagem {
    width: 50%
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo {
        width: auto;
    }
}